
body {
	margin: 0px;
	background: #000000
}

.header_buttons nav {
	background-color: dimgray;
	color: white;
	font-family: 'Pixeloid_Sans_Bold';
	margin-top: 30px;
	text-align: center;
	word-spacing: 50px;
	text-decoration: none;
}
a {
	color: white;
	align-items: center;
	text-decoration: none;
}
.header_background {
	background-color: dimgrey;
	position: fixed;
	text-align: top;
	width: 100%;
	height: 60px;
	margin: auto;
	top: -20px;
}

p {
	color: white;
	line-height: 1px;
	font-family: 'Pixeloid_Sans';
}

h1 {
	color: white;
	font-family: 'Pixeloid_Sans_Bold'
}

h2 {
	color: white;
	font-family: 'Pixeloid_Sans_Bold'
}

.golden_text {
	color: goldenrod;
}

h3 {
	color: white;
	font-family: 'Pixeloid_Sans'
}

h4 {
	color: white;
	font-family: 'Pixeloid_Sans'
}

.centered_text {
	height: 200px;
    width: 400px;
    background: black;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

.Discord_Button {
	border: hidden;
	color: white;
	background-color: #4e5d94;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 17px;
	font-family: 'Pixeloid_Sans_Bold';
	border-radius: 7px;
	margin-top: 25px;
	position: absolute;
	left: 50%;
	margin-left: -121px;
}

.Discord_Logo {
	max-width: 25px;
	max-height: inherit;
	vertical-align: bottom;
}

.white_text {
	color: white;
	text-decoration: none;
}

.Home_Title {
	background: url("other/downscaled.png");
	margin-top: 40px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-size: 225px;
	background-repeat: repeat-x;
	background-position: top;
	text-align: center;
}

.White_Text {
	color: white;
}

.home_p {
	padding-left: 30px;
	padding-top: 40px;
	font-size: 20px;
	text-align: center;
}

.contributors {
	text-align: center;
	padding-top: 70px;
}

.downloads {
	text-align: center;
	padding-top: 70px;
}

.downloads_p {
	text-align: center;
	padding-top: 40px;
	line-height: 0px;
}

@font-face {
	font-family: 'Pixeloid_Mono';
	src: url("fonts/PixeloidMono-1G8ae.ttf")
}
@font-face {
	font-family: 'Pixeloid_Sans';
	src: url("fonts/PixeloidSans-nR3g1.ttf")
}
@font-face {
	font-family: 'Pixeloid_Sans_Bold';
	src: url("fonts/PixeloidSansBold-RpeJo.ttf")
}